<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12 col-md-offset-3">
    <div class="item">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          <img src="<%= @book.book_url %>" alt="">
        </div>
        <div class="panel-body">
          <p class="item-title"><%= @book.name %></p>
          <div class="buttons text-center">
            <%= render 'books/favorite_button', book: @book %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="users">
      <div class="panel panel-default">
        <div class="panel-heading text-center">
          Favoriteしたユーザ
        </div>
        <div class="panel-body">
          <% @users.each do |user| %>
            <%= link_to user.name, user_path(user) %>
          <% end %>
        </div>
      </div>
    </div>
    
    <p class="text-center"><%= link_to '楽天詳細ページ', @book.url, target: '_blank' %></p>
  </div>
</div>